*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.crown{
    height: 40px;
}
.header{
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    border: black solid 10px;
    align-content: center;
}

.header__list{
    display: flex;
    list-style: none;
}

.blue__section{
    font-size: 140%;
    display: grid;
    background-color: #1d70b8;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: #1d70b8 solid 50px;
    align-items: center;
    row-gap: 20px;
    padding-left: 320px;
}

.blue__foot{
    font-weight: bold;
}

.popular__main{
    background-color: rgb(233, 232, 232);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow:column wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    border-color: rgb(233, 232, 232);
    border: 500px;
    height: 300px;
    padding-right: 610px;
}


.popular{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.popular__links{
    list-style: none;
    color: blue;
    text-decoration: underline;
}

.boxes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center left;
    gap: 5%;
    margin-right: 20%;
    margin-left: 20%;
    row-gap: 20px;
    
}

.boxhead{
    text-decoration: underline;
    color: blue;
}

.boxheader{
    padding-left: 370px;
    font-size: 220%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.boxgrid{
    display: flex;
    align-items: center;
    border-top: 1px solid lightgrey;
    width: 30%;
    font-size: 140%;
    height: 140px;
}